*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e084e);
    padding: 5px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 30px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h1{
    color: #002765;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}
.todo-app h1 img{
    width: 40px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding: 1px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    text-align: center;
}
button{
    border: none;
    outline: none; 
    padding: 10px 50px;
    font-size: 20px;
    background: #ff5945;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.5s;
}
button:hover{
    background: #55a7ff;
}

ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 530;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
   

}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(/img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/img/checked.png);
}
ul li span{
position: absolute;
right: 0;
top: 5px;
width: 40px;
height: 40px;
font-size: 32px;
color:black;
line-height: 40px;
text-align: center;
border-radius: 50%;
transition: 0.5s;
}
ul li span:hover{
    color:red;
    background: #edeef0;
}